{% extends 'hijo.html' %}

{% block contenido %}

	<div class="container">
		<div class="textwidget">
			<h1 class="toptitle">Ingrese Su Usuario<br/> Y Contraseña <br/><br/><i class="fa fa-star roundicon"></i>
			</h1>	
			<h4></h4>							
			<div class="contactstyle topform">										
				<form action="{% url 'login' %}" method="POST" >
					
					
						{% csrf_token %}
						{{form.as_p}}


						<form type="text" name="Usuario" placeholder="user">
						<form type="text" name="Contraseña" placeholder="password">
					
						<button type="submit" class="btn btn-primary">Ingresar</button>
					
				</form>

				<p>No tienes una Cuenta? <a href="{% url 'registrar' %}" class="btn btn-primary">Crear Cuenta</a></p>
				
				
			</div>								
		</div>
		</div>
{% endblock %}