{% extends 'padreReal.html' %}


{% block bloqueQueCambia %}
	<div class="container">
		<div class="textwidget">
			<h1 class="toptitle">Ingrese Su Usuario A Registar<br/> Y Su contraseña<br/><br/><i class="fa fa-star roundicon"></i>
			</h1>	
										
			<div class="contactstyle topform">										
				<form action="{% url 'registrar' %}" method="POST" >
					
					
						{% csrf_token %}
						{{form.as_p}}
						
                        
						<input style="background: rgba(213, 43, 43, 0.51);"type="submit"  value="Registar"> 
					
				</form>
				
			</div>	
			
			
		</div>
		</div>
</section>

{% endblock %}